<!DOCTYPE html>
<html>
  <head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Lato:400,600,900" rel="stylesheet" type="text/css" />
    <link href="/production.css" rel="stylesheet" type="text/css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <% if(step=='postcode-compare'){ %>
       <%- include partials/meta-students.ejs %>
     <% } else{ %>
       <%- include partials/meta-home.ejs %>
    <% } %>

  </head>
  <body class='desktop'>
    <div id="app"></div>
    <script type="text/javascript">
      var Model;
      var Embed = <%= embed %>;
      var Standalone = <%= standalone %>;
      if (Standalone || Embed) {
        var StepName = "<%= step %>";
      }
    </script>
    <script src="/production.js" type="text/javascript"></script>
  </body>
</html>
