<!DOCTYPE html>
<html>
  <head>
    <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//explaain-app.herokuapp.com/style.css">
    <link href="/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/css/slick-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/client.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <% if(step=='postcode-compare'){ %>
       <%- include partials/meta-students.ejs %>
     <% } else{ %>
       <%- include partials/meta-home.ejs %>
    <% } %>

  </head>
  <body class='desktop'>
    <div id="app"></div>
    <script type="text/javascript">
      var Model;
      var Embed = <%= embed %>;
      var Standalone = <%= standalone %>;
      if (Standalone || Embed) {
        var StepName = "<%= step %>";
      }
    </script>
    <script src="/data/allParties.js"></script>
    <script src="/data/partyStories.js"></script>
    <script src="/data/euRefResults.js"></script>
    <script src="/data/partyStances.js"></script>
    <script src="/data/ge2015Results.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="//explaain-use.herokuapp.com/explaain.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
