<!DOCTYPE html>
<% const NOCACHE = (process.env.HEROKU_RELEASE_VERSION?process.env.HEROKU_RELEASE_VERSION:Math.random()) %>
<html>
  <head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Lato:400,600,700,900" rel="stylesheet" type="text/css" />
    <link href="/compiled.css?v=<%=NOCACHE%>" rel="stylesheet" type="text/css" />
    <link href="/client.css?v=<%=NOCACHE%>" rel="stylesheet" type="text/css" />

    <%- include partials/favicons.ejs %>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <% if(step=='postcode-compare'){ %>
       <%- include partials/meta-students.ejs %>
     <% } else{ %>
       <%- include partials/meta-home.ejs %>
    <% } %>

    <%- include partials/event-tracking.ejs %>
    <%- include partials/hotjar.ejs %>

  </head>
  <body class='desktop'>
    <%- include partials/preloaders.ejs %>
    <div id="app"></div>
    <script type="text/javascript">
      var Model;
      var Embed = <%= embed %>;
      var Standalone = <%= standalone %>;
      if (Standalone || Embed) {
        var StepName = "<%= step %>";
      }
      const MODE = (location.href.match(/production/)?'production':'<%= process.env.NODE_ENV %>');
    </script>
    <script src="/compiled.js?v=<%=NOCACHE%>" type="text/javascript"></script>
  </body>
</html>
