<!DOCTYPE html>
<% const NOCACHE = (process.env.HEROKU_RELEASE_VERSION?process.env.HEROKU_RELEASE_VERSION:Math.random()) %>
<html>
  <head>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: 'f4923f1704844c898e40e2fcd8e9118e', application: "ge2017" };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <script>

    </script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Lato:400,600,700,900" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="/compiled.css?v=<%=NOCACHE%>" rel="stylesheet" type="text/css" />
    <link href="/client.css?v=<%=NOCACHE%>" rel="stylesheet" type="text/css" />

    <%- include partials/favicons.ejs %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->


    <% if(typeof params !== 'undefined' && params.party && params.percentage) { %>
      <%- include partials/meta-quizresults.ejs %>
    <% } else if(step=='postcode-compare') { %>
      <%- include partials/meta-students.ejs %>
    <% } else if(brand=='38degrees') { %>
      <%- include partials/meta-quizhome38degrees.ejs %>
    <% } else { %>
      <%- include partials/meta-home.ejs %>
    <% } %>

    <%- include partials/event-tracking.ejs %>
    <%- include partials/hotjar.ejs %>

  </head>
  <body class='desktop'>
    <%- include partials/preloaders.ejs %>
    <div id="app"></div>
    <script type="text/javascript">
      var Model,
          Routes;
      var Embed = <%= embed %>;
      var SiteBrand = getParameterByName('brand') || "<%= brand %>";
      var Standalone = <%= standalone %>;
      var QuizPage = <%= quiz %>;
      if (Standalone || Embed) {
        var StepName = "<%= step %>";
        var PhraseName = "<%= phrase %>";
      }
      const MODE = (location.href.match(/production/)?'production':'<%= process.env.NODE_ENV %>');

      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    </script>
    <script src="/compiled.js?v=<%=NOCACHE%>" type="text/javascript"></script>
    <!-- <script src="http://localhost:5001/explaain.js" type="text/javascript"></script> -->
    <script type="text/javascript">
      // $('button').click(function(e) {
      //   console.log("Button clicked", e);
      //   Rollbar.debug("Button clicked", e);
      // })
      // $('a').click(function(e) {
      //   console.log("Link clicked", e);
      //   Rollbar.debug("Link clicked", e);
      // })
      // $('.startQuiz').click(function(e) {
      //   Rollbar.debug(".startQuiz clicked");
      // })
      // $('.quizCountrySelector').click(function(e) {
      //   Rollbar.debug(".quizCountrySelector clicked");
      // })
      // Rollbar.debug("Testing Testing");
    </script>
    <%- include partials/addthis.ejs %>
  </body>
</html>
