<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="/production.css"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <% if(step=='postcode-compare'){ %>
       <%- include partials/meta-students.ejs %>
     <% } else{ %>
       <%- include partials/meta-home.ejs %>
    <% } %>

  </head>
  <body class='desktop'>
    <div id="app"></div>
    <script type="text/javascript">
      var Model;
      var Embed = <%= embed %>;
      var Standalone = <%= standalone %>;
      if (Standalone || Embed) {
        var StepName = "<%= step %>";
      }
    </script>
    <script src="/production.js"></script>
  </body>
</html>
