<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Elezioni Politiche 2018 - Indeciso su chi votare?</title>
<link rel="canonical" href="<%= params.canonical %>">
<meta name="keywords" content="elezioni 2018, candidati, voto, politiche 2018, immigrazione, buona scuola, renzi, berlusconi, di maio " >
<meta name="description" content="Indeciso su chi votare alle Elezioni Politiche 2018? Scopri quale proposta politica si avvicina di più alle tue opinioni.">
<!--FACEBOOK-->
<meta property="og:title" content="Indeciso su chi votare? - Scoprilo con il nostro test" >
<meta property="og:site_name" content="IT2018">
<meta property="og:url" content="<%= params.quizHome %>" >
<meta property="og:description" content="Indeciso su chi votare alle Elezioni Politiche 2018? Scopri quale proposta politica si avvicina di più alle tue opinioni." >
<meta property="og:image" content="<%= params.resourceRoot %><% if(brand=='38degrees'){ %>/img/thumbnail-home-it.jpg<% } else{ %>/img/thumbnail-home-it.jpg<% } %>" >
<meta property="fb:app_id" content="" >
<meta property="og:type" content="website" >
<meta property="og:locale" content="en_GB" >
<!--TWITTER-->
<meta property="twitter:card" content="summary_large_image" >
<meta property="twitter:title" content="Indeciso su chi votare?" >
<meta property="twitter:description" content="Indeciso su chi votare alle #Politiche2018? Scopri quale proposta politica si avvicina di più alle tue opinioni." >
<!--<meta name="twitter:site" content="@GE2017dotcom">
<meta name="twitter:creator" content="@GE2017dotcom">-->
<meta property="twitter:url" content="<%= params.quizHome %>" >
<meta property="twitter:image" content="<%= params.resourceRoot %><% if(brand=='38degrees'){ %>/img/thumbnail-home-it.jpg<% } else{ %>/img/thumbnail-home-it.jpg<% } %>" >
<!--GOOGLE+-->
<link rel="author" href="">
<link rel="publisher" href="">
